html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-image: url(../img/background.png);
}
.infoHeader {
	text-align: center;
	padding-top: 10px;
	color: white;
}
.infoHeader2 {
	text-align: center;
	padding-top: 10px;
	color: #3A4DF9;
}
.background {
	background-color: #3A4DF9;
	height: 20vh;
}