html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-image: url(../img/background.png);
}
.infoHeader {
	text-align: center;
	padding-top: 10px;
	color: white;
}
.infoHeader2 {
	text-align: center;
	padding-top: 10px;
	color: #3A4DF9;
}
.background {
	background-color: #3A4DF9;
	height: 20vh;
}
.transparentBackground {
	height: 20vh;
}
footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: black;
	color: white;
	text-align: center;
	height: 60px;
	padding:20px;

}