html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-image: url(../img/background.png);
}
.infoHeader {
	text-align: center;
	padding-top: 10px;
	color: white;
}
.infoHeader2 {
	text-align: center;
	padding-top: 10px;
	color: black;
}
.aboutImage {
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 200px;
}
.background {
	background-color: #212529;
	padding: 40px 30px 40px 30px;
}
section p {
	color: white;
}
.transparentBackground {
	height: 20vh;
}
footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
}